<!DOCTYPE html>
<html lang="en">

<head>

  <!-- 
    This is the Handlebars template for the Admin page 
    - The page displays the current list of logs returned by server.js
    - The user can clear the log by first setting up an admin key
  -->

  <meta charset="utf-8" />
  <link rel="icon" href="https://glitch.com/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>La San Martiño en números</title>

  <!-- Import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css" />

</head>

<body>
  <div class="wrapper">
    <div class="content" role="main">

      <!-- This is the start of content for our page -->
      <h1>San Martiño</h1>
      {{#if error}}
      <p class="error">
        {{error}}
      </p>
      {{else}}
      
      
      <form action="/search" method="post">
        <p>
          Búscate en el ranking
        </p>
        

        {{#if failed}}
        <p class="error">
          {{failed}}
        </p>
        {{/if}}
        <input type="text" id="fullname" name="fullname" required>
        <button type="submit">Buscar</button>
      </form>
      

      <!-- Write out a table row for each entry in the log array showing choice and timestamp -->
      {{#if topAthletes.length}}
          <div>
            <h2>Ranking global mejores tiempos (2012-2022)</h2>
            <table>
              <tr>
                <th>Posicion</th>
                <th>Corredor</th>
                <th>Año</th>
                <th>Tiempo</th>
              </tr>
              {{#each topAthletes}}
                <tr>
                  <td>{{position}}</td>
                  <td><a href="./athlete?athlete={{athlete_id}}">{{athlete_fullname}}</a></td>
                  <td><a href="./competition?year={{competition_year}}">{{competition_year}}</a></td>
                  <td>{{time}}</td>
                </tr>
              {{/each}}
            </table>
          </div>
      {{else}}
      <p class="error">
        No records!
      </p>
      {{/if}}

      
      {{/if}}
    </div>
    
  
    
  </div>
  <!-- The footer holds our remix button — you can use it for structure or cut it out ✂ -->
  <footer class="footer">
    <div class="links"></div>
    <a href="/">Ranking</a>
    <span class="divider">|</span>
    <a href="/competitions">Carreras</a>
    <a class="btn--remix" target="_top" href="https://glitch.com/edit/#!/remix/glitch-hello-sqlite">
      <img src="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FLogo_Color.svg?v=1618199565140"
        alt="" />
      Remix on Glitch
    </a>
  </footer>
</body>

</html>
